{% load static %}

<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>View Profile</title>
  </head>

  <header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">MindTracks</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="user_profile">View Profile<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Account </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% if user.is_authenticated %}
                <a class="dropdown-item" href="/logout">Sign Out</a>
                {% else %}                
                <a class="dropdown-item" href="/register">Register </a>
                <a class="dropdown-item" href="/login">Login</a>
                {% endif %}
              </div>
            </li>
          </ul>
        </div>
      </nav>


      <!-- Background Image -->

    <div class="view" style="background-image: url( {% static '/css/unsplash.jpg' %} ); background-repeat: 
    no-repeat; background-size: cover; background-position: center center;">
{% if user.is_authenticated %}

        <h1 class = "text-secondary" id="subpage">User: {{request.user.username}}
        </br> 
              Average Mood Rating: 5</h1>
       <p> Your Average Mood Rating is calculated based on your answers to the Mood Scale over time. The Mood Scale is 
          from 1 to 5, with 5 being the very happiest! Use Mood Insights to get to know yourself better and recognize patterns.
        If you want to improve your Average Mood Rating beyond MindTracks, consider checking out 
                      <a href="https://greatist.com/happiness/34-ways-bust-bad-mood-ten-minutes#1" target="_blank">
                        <b>34 Ways to Bust a Bad Mood in 10 Minutes or Less</b></a>.
       </p>
                 <p><i>If you need additional support, help is available! You can speak to a counselor today 
                   by calling the the National Suicide hotline at 800-273-8255.</i></p>
  
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert"> Oops! Looks like you're not logged in! Login <a href ='/login' class='alert-link'> Here </a> or Register <a href ='/register' class='alert-link'> Here </a> to use this application</h3> </div>
    {% endif %}
 
    <script type="text/javascript" src={% static 'javascript/index.js' %}></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
